*{
    margin: 0;
    padding: 0;
}

#titulo{
    font-family: sans-serif;
    font-size: 3em;
    color: #2f4f4f;
    margin-left: 7%;
    margin-top: 10%;
}

#subtitulo{
    font-family: sans-serif;
    font-size: 2.5em;
    color: #5bb6b6;
    margin-left: 4%;

}

fieldset{
    border: 0;
}

body{
    background-color: #7796c5;
    font-family: sans-serif;
    font-size: 1em;
    margin-left: 35%;
    margin-top: 2%;
    justify-content: center;
}

input, select, textarea, button{
    border-radius: 10px;
    border-width: 2px;
}

.campo{
    margin-bottom: 1em;
}

.campo label{
    margin-bottom: 0.2em;
    color: #203c49;
    display: block;
}

.campo1 label{
    margin-bottom: 0.2em;
    color: #203c49;
    display: inline-block;
}

.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea{
    padding: 0.4em;
    border: 2px solid #203c49;
    box-shadow: 2px 2px 2px rgba(0,0,0,0,2);
    display: block;
    cursor: pointer;
}

.campo input[type="radio"], .campo1 input[type="checkbox"]{
    cursor: pointer;
}

.campo1 input[type="text"]{
    padding: 0.2em;
    border: 2px solid #203c49;
    box-shadow: 2px 2px 2px rgba(0,0,0,0,2);
    display: block;
}

.botao {
    margin-bottom: 3%;
    padding: 0.2em;
    font-size: 1.2em;
    background-color:#31948c;
    border: 0;
    color: darkslategrey;
    padding: 0.2em 0.6em;
    box-shadow: 4px 4px 4px rgba(0,0,0,0,2);
    cursor: pointer;
}

div#termo{
    color: darkred;
    margin-bottom: 2%;
    font-size: 1em;

}